doctype html
html
  head
    title Item Details - #{item.name}
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1= item.name
      p Description: #{item.description}
      p Price: $#{item.price}
      p Stock: #{item.stock}
      p Category: #{item.categoryName}

    if supplier
      section
        h2 Supplier Details
        p Supplier Name: #{supplier.name}
    else
      p No supplier information available.

    a(href=`/api/items/${item.id}/edit`) Edit Item
    a(href=`/api/items/${item.id}/delete`) Delete Item
    a(href=`/api/items/${item.id}/reviews/add`) Add Review

    footer
      a(href="/api/items") Back to Items List
